$fa-font-path: "../components/fontawesome/fonts";
@import "../components/fontawesome/scss/font-awesome";
$roboto-font-path: "../components/roboto-fontface/fonts";
@import "../components/roboto-fontface/css/roboto-fontface.scss";

$bgColor:rgb(229,229,229);
$mainColor:rgb(80,80,80);
$themeColor:#fefefe;
$themeTextColor:rgb(180,180,180);
$skillColor:#FF6666;

$inputHeight:30px;
$InputBorderColor:#E0D8D8;

$brandWidth:120px;
$rightWidth:200px;

$pinkColor:rgb(236, 105, 48);

$maxWidth:960px;
$topbarHeight:42px;

@import "bourbon/bourbon";

*,*:after{
	box-sizing: border-box;
}
.clear:after{
  clear: both;
  content: "";
  display: table;
}
$borderColor:rgb(221,221,221);
.bordered{
	border:solid 1px $borderColor;
}
html{
	min-width:$maxWidth;
	overflow-y:scroll;
	overflow-x:auto;
}
body{
	margin:0;
	color:$mainColor;
	font-family:roboto-regular;
	min-width:$maxWidth;
}
a{
	text-decoration:none;
	color:inherit;
}
md-toast{
	position:fixed;
}
.topbar-wrap{
	text-align:center;
	border-bottom:1px solid #ddd;
	box-shadow:0 3px 2px -2px rgba(200,200,200,0.2);
	border-top:solid 2px $skillColor;
	position:fixed;
	width:100%;
	z-index: 10;
	background-color:$themeColor;
	.topbar{
		@media(max-width:$maxWidth){
			width: $maxWidth;
			position: relative;
		}
		width: $maxWidth;
		margin:0 auto;
		text-align: left;
		color:$themeTextColor;
		position: relative;
		height:$topbarHeight;
		line-height:$topbarHeight;
		.brand{
			position: relative;
			float: left;
			display: inline-block;
			font-size: 22px;
			font-weight: bold;
			margin-right: 10px;
			color: $skillColor;
			&:hover{
				color: darken($skillColor,10%);
			}
		}
		.uac{
			position:relative;
			float: right;
			text-align: right;
			// width: $rightWidth;
			line-height: 32px;
			.uac-in{
				padding:6px 10px 7px 0;
				.login{
					position:relative;
					display: inline-block;
					height: $inputHeight;
					color: $pinkColor;
					border:solid 1px;
					padding:0 10px;
					border-radius:3px;
					height: 100%;
					cursor: pointer;
					outline: none;
				}
				.signup{
					@extend .login;
					color: rgb(24, 118, 232);
				}
			}
			a{
				color:rgb(75,80,90);
				padding:5px 10px;
			}
			$borderColor:#dddddd;
			$hoverBGColor:#f5f5f5;
			.userSettingsWrap{
				height:$topbarHeight;
				box-sizing:border-box;
				display:inline-block;
				position: relative;
				border:solid 1px transparent;
				border:none;
				text-align:left;
				font-size: 13px;
				&.open,&:hover{
					background:rgba(239, 241, 245, 1);
				}
				&.open{
					.set{
						color: rgb(114,123, 141);
					}
					.userActions{
						display: inline;
						opacity: 1;
						transform: scale(1);
					}
				}
				.set{
					display: block;
					cursor: pointer;
					&:after{
						margin-left: 5px;
						content: "\f0dd";
						font-family: fontAwesome;
						font-size: 1.5em;
						line-height: 1em;
					}
				}
				&.display-none{
					.userActions{
						display: none;
					}
				}
				.userActions{
					position: absolute;
					float: right;
					// display: none;
					right: 0;
					top: 55px;
					height: 0;
					z-index: 5;

					transition: all 200ms cubic-bezier(0.24, 0.22, 0.015, 1.56), opacity 100ms linear;
					opacity: 0;
					transform: scale(0.5);
					transform-origin: 80px 0;
					.arrow-up{
						position: absolute;
						z-index: 15;
						top: -8px;
						right: 9px;
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid #fff;
					}
					.arrow-up-bg{
						position: absolute;
						z-index: 14;
						top: -9px;
						right: 9px;
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid #cacaca;
					}
					.userActionInner{
						position: relative;
						top: 0;
						right: 0;
						width: 160px;
						background-color: #fff;
						border:solid 1px $borderColor;
						border-radius: 3px;
						padding: 5px 0;
						box-shadow:0 1px 4px 0 rgba(0,0,0,0.15);
						a{
							color: #677184;
							padding: 3px 20px;
							height: 30px;
							line-height: 22px;
							display: block;
							&:hover{
								background-color: $hoverBGColor;
								background-color:#EFF1F5;
								color:#555555;
							}
							&:last-child{
								border-bottom:none;
							}
						}
					}
				}
			}
			.button{
				-webkit-appearance: none;
				-webkit-user-select: none;
				align-items: flex-start;
				background-attachment: scroll;
				background-clip: border-box;
				background-color: rgb(8, 198, 91);
				background-image: none;
				background-origin: padding-box;
				background-size: auto;
				border-bottom-color: rgb(255, 255, 255);
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				border-bottom-style: none;
				border-bottom-width: 0px;
				border-image-outset: 0px;
				border-image-repeat: stretch;
				border-image-slice: 100%;
				border-image-source: none;
				border-image-width: 1;
				border-left-color: rgb(255, 255, 255);
				border-left-style: none;
				border-left-width: 0px;
				border-right-color: rgb(255, 255, 255);
				border-right-style: none;
				border-right-width: 0px;
				border-top-color: rgb(255, 255, 255);
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				border-top-style: none;
				border-top-width: 0px;
				box-sizing: border-box;
				color: rgb(255, 255, 255);
				cursor: pointer;
				display: inline-block;
				font-family: Roboto, sans-serif;
				font-size: 14px;
				font-style: normal;
				font-variant: normal;
				font-weight: 300;
				height: 36px;
				letter-spacing: normal;
				line-height: normal;
				margin-bottom: 0px;
				margin-left: 4px;
				margin-right: 0px;
				margin-top: 0px;
				outline-color: rgb(255, 255, 255);
				outline-style: none;
				outline-width: 0px;
				padding-bottom: 10px;
				padding-left: 24px;
				padding-right: 24px;
				padding-top: 10px;
				position: relative;
				text-align: center;
				text-indent: 0px;
				text-rendering: auto;
				text-shadow: none;
				text-transform: uppercase;
				transition-delay: 0s, 0s, 0s;
				transition-duration: 0.18s, 0.18s, 0.18s;
				transition-property: box-shadow, background, color;
				transition-timing-function: ease-out, ease-out, ease-out;
				white-space: nowrap;
				width: 124.8125px;
				word-spacing: 0px;
				writing-mode: lr-tb;
				-webkit-writing-mode: horizontal-tb;
			}
		}
	}
}
ng-view{
	@media(max-width:$maxWidth){
		padding-top:5px;
	}
	padding-top:50px;
	width:$maxWidth;
	position: relative;
	display:block;
	margin:auto;
	text-align:left;
}
.results{
	position:relative;
	margin-top:10px;
	position: relative;
}
$ratingColor:#30C4D7;
$textColor:rgb(90,90,90);
.peopledryft{
	overflow:hidden;
	position:relative;
	display:inline-block;
	background-color:#fff;
	border-radius:3px;
	padding:8px 0 10px 10px;
	width:310px;
	border:solid 1px transparent;
	box-shadow:0 2px 8px rgba(0,0,0,0.2);
	margin-bottom:15px;
	float: left;
	&:nth-child(3n+2){
		margin-left: 15px;
		margin-right: 15px;
	}
	.name{
		text-decoration: none;
		display: inline-block;
		color: rgb(50,50,50);
		transition: all ease 0.3s;
		padding-right:10px;
		&:hover{
			text-decoration: underline;
		}
	}
	.topic-dryft{
		position: relative;
		.topic{
			font-size: 14px;
			position: relative;
			height: 30px;
			margin-right: 10px;
			margin-bottom: 10px;
			color: $textColor;
			text-decoration: none;
			transition: all ease 0.4s;
			&:hover{
				color: $ratingColor;
				&:after{
					background-color:$ratingColor;
				}
			}
			&:after{
				content: ' ';
				position:absolute;
				left: 0;
				bottom:-1px;
				width: 0;
				height: 2px;
				background-color:$textColor;
				transition: all ease 0.4s;
			}
			&.level1:after{
				width: 20%;
			}
			&.level2:after{
				width: 40%;
			}
			&.level3:after{
				width: 60%;
			}
			&.level4:after{
				width: 80%;
			}
			&.level5:after{
				width: 100%;
			}
		}
	}
}

$niceBG:#fdfdfd;
.intro{
	position: relative;
	text-align:center;
	background-color:$niceBG;
	margin:7px 0;
	padding-top:10px;
	@extend .bordered;
	a{
		cursor:default;
		display: inline-block;
		width: 200px;
		height: 70px;
	}
	.icon{
		font-size: 26px;
	}
	.iconic{
		border: solid 2px;
		border-radius: 50%;
	}
	.first{
		position: absolute;
		left: 194px;
		top: 31px;
		width: 162px;
		height: 2px;
		background: linear-gradient(to right,rgb(255, 102, 102), rgb(141, 103, 179));
	}
	.second{
		position: absolute;
		left: 397px;
		top: 31px;
		width: 163px;
		height: 2px;
		background: linear-gradient(to right,rgb(141, 103, 179), #FFCC00);	
	}
	.third{
		position: absolute;
		left: 601px;
		top: 31px;
		width: 163px;
		height: 2px;
		background: linear-gradient(to right, #FFCC00,#1876E8);		
	}
}
.extra{
	margin:10px 0 10px 0;
	$paddingF:20px;
	.material{
		overflow: hidden;
		border-radius:3px;
		padding-bottom:5px;
		background:#fff;
		&:hover{
			a{
				color:#427fed ;
			}
		}
		.head{
			padding:11px $paddingF;
			font-size: 24px;
			font-weight: lighter;
			background-color:#4374E0;
			color:#fff;
			i{
				border: solid 2px;
				width: 42px;
				height: 42px;
				line-height: 36px;
				border-radius: 50%;
				text-align: center;
			}
		}
		.inner{
			border:solid 1px #eaeaea;
			padding:10px $paddingF;
			border-bottom-left-radius:3px;
			border-bottom-right-radius:3px;
			a{
				font-size: 14px;
				padding:2px 0;
				transition: color ease 0.3s;
				&:hover{
					color: #427fed;
					text-decoration: underline;
				}
			}
		}
	}
}
.setting-wrap{
	margin-top:10px;
	.settings{
		$setBorder:#D8D8D8;
		border-radius:3px;
		margin-bottom: 20px;
		.title{
			background:#f5f5f5;
			border:solid 1px $setBorder;
			border-bottom:0;
			border-radius: 3px;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			padding:9px 10px 10px;
			color: #333;
		}
		.form{
			padding:1px 10px 10px;
			&.nopad{
				padding:0;
			}
			position: relative;
			border-radius: 3px;
			border-top-left-radius:0;
			border-top-right-radius:0;
			border:solid 1px $setBorder;
			// border-top:none;
			label{
				position: relative;
				display: block;
				margin-bottom: 10px;
				legend{
					margin-bottom: 3px;
				}
				input{
					border:solid 1px rgb(204, 204, 204);
					border-radius: 3px;
					padding:7px 8px;
					height: 34px;
					width: 440px;
					outline: none;
					background-color:rgb(250, 250, 250);
					&:focus{
						background:#fff;
						border-color:rgb(81, 167, 232);
						box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px 0px inset, rgba(81, 167, 232, 0.498039) 0px 0px 5px 0px;
					}
				}
			}
			.actions{
				button{
					font-weight: bold;
					height: 34px;
					border-radius: 3px;
					background:rgb(102, 182, 74);
					background-image: linear-gradient(#79d858, #569e3d);
					color: #fff;
					padding:7px 12px 6px;
					border:solid 1px #5ca941;
				}
			}

			.topic-wrap{
				padding:7px 10px 8px 10px;
				border-bottom:solid 1px $setBorder;
				&:last-child{
					border-bottom:none;
				}
				&:hover{
					background:#ffe;
				}
				.desc{
					color: rgb(91,91,91);
					margin:5px 0;
				}
				a{
					color: #4078c0;
				}
				.edit{
					padding:4px 18px;
					border-radius: 3px;
					color: rgb(102, 182, 74);
					border:solid 1px #d5d5d5;
					background:#eee;
					&:hover{
						background:rgb(102, 182, 74);
						color: #fff;
						border-color:rgb(102, 182, 74);
					}
					margin-bottom: 10px;
				}
				.delete{
					padding:4px 10px;
					border-radius: 3px;
					border:solid 1px #d5d5d5;
					background:#eee;
					color: #9C0808;
					&:hover{
						color: #fff;
						background:#9C0808;
						border-color:#9C0808;
					}
				}
			}
			.addnew{
				padding:7px 10px 8px 10px;
			}
		}
		.list{
			border-radius: 3px;
			border-top-left-radius:0;
			border-top-right-radius:0;
			border:solid 1px $setBorder;
			padding:0;
			margin:0;
			a{
				padding-left: 10px;
				list-style: none;
				display: block;
				line-height: 35px;
				height: 35px;
				font-size: 14px;
				border-bottom:inherit;
				color: #4078c0;
				font-weight: lighter;
				&:last-child{
					border-bottom:none;
				}
				&.true{
					color: #000;
					font-weight: bold;
					border-left: solid 2px #d26911;
				}
			}
		}
	}
}

.saveButton{
	font-weight: bold;
	height: 34px;
	border-radius: 3px;
	background:rgb(102, 182, 74);
	background-image: linear-gradient(#79d858, #569e3d);
	color: #fff;
	padding:7px 12px 6px;
	border:solid 1px #5ca941;
}
.cancelButton{
	font-weight: bold;
	height: 34px;
	border-radius: 3px;
	background: #EEEEEE;
	background-image: linear-gradient(#EEEEEE, #ededed);
	color: #333;
	padding: 7px 12px 6px;
	border: solid 1px #dddddd
}
.whiteButton{
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	&:hover{
		text-decoration: none;
		background-color: #ddd;
		background-image: -webkit-linear-gradient(#eee, #ddd);
		background-image: linear-gradient(#eee, #ddd);
		border-color: #ccc;
	}
}
.msg{
	position: relative;
	padding:4px 10px;
	margin:7px 0;
	background:#FCF8E3;
	color:#8A6D3B;
	border:1px solid #faebcc;
}
.error{
	@extend .msg;
	color:#911;
	background:#FCDEDB;
	border-color:#d2b2b2;
}
.titler{
	background:#f5f5f5;
	color:#333;
	padding:6px 10px;
	border-bottom:solid 1px $borderColor;
}
.point-wrap{
	position:relative;
	padding-top:10px;
	margin-bottom:20px;
	.container{
		margin-top: 10px;
		@extend .clear;
		.leveler{
			display: inline-block;
			width: 70%;
			float: left;
			border:solid 1px $borderColor;
			border-radius: 3px;
			.title{
				@extend .titler;
			}
			.list{
				.item{
					display: block;
					padding:5px 10px 8px;
					border-bottom:solid 1px $borderColor;
					background-color: #fff;
					&:last-child{
						border-bottom: none;
					}
					&:hover{
						background-color:#fcfcfc;
					}
				}
			}
			&.other{
				border:solid 1px $borderColor;
				margin-bottom: 15px;
				float: right;
				width: 22%;
				display: inline-block;
			}
		}
	}
}
.level{
	color: #17B4A7;
}
.linky{
	color:#427fed;
	&:hover{
		text-decoration: underline;
	}
}
.username{
	color:#555555;
	&:hover{
		text-decoration: underline;
	}
}

$avtarHeight:50px;
$contactColor:#4DBFD9;
.user{
	position: relative;
	.info{
		margin-top: 5px;
		margin-bottom: 15px;
		.about-box{
			.avtar{
				text-align: center;
				font-size: 30px;
				font-weight: bold;
				display: inline-block;
				width: $avtarHeight;
				height: $avtarHeight;
				line-height: $avtarHeight;
				background: #e15084;
				color:#fefefe;
			}
			.inform{
				margin-left: 10px;
				.name{
					line-height: $avtarHeight/2;
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
		.tile{
			margin-top: 15px;
			.contact{
				font-size: 14px;
				display: inline-block;
				border:solid 1px #eaeaea;
				border-top:solid 5px $contactColor;
				border-radius: 3px;
				padding:7px 15px;
				box-shadow:0 1px 1px 0px rgba(0, 0, 0, 0.1);
				color: rgb(64, 64, 64);
				.title{
					color: #333;
					font-size: 22px;
					padding-bottom:4px;
					margin-bottom: 5px;
					border-bottom:solid 1px #eaeaea;
				}
				.fb-link{
					margin-bottom: 4px;
					display: inline-block;
				}
				.legend{
					font-family: roboto;
				}
			}
		}
	}
}
.fb-link{
	color:#2B65DD;
	&:hover{
		color: #0E45B8;
	}
}
.jist{
	color: #767676;
	display: inline-block;
	width: 60%;
	border:solid 1px $borderColor;
	border-radius: 3px;
	margin-bottom: 20px;
	border-left:none;
	.list-item{
		&:hover{
			background:#fafafa;
		}
		&.title{
			background:#f5f5f5;
			color: #333;
		}
		padding:5px 10px 7px;
		border-bottom: solid 1px $borderColor;
		.topic{
			color: #4078c0;
			font-size: 14px;
			font-weight: bold;
			font-family: roboto;
		}
		.project_link{
			font-weight: 500;
		}
		border-left:solid 3px ;
		&:last-child{
			border-bottom: none;
		}
		&:nth-child(5n+2){
			border-left-color:#f1e05a;
		}
		&:nth-child(5n+3){
			border-left-color:#49DAFC;
		}
		&:nth-child(5n+4){
			border-left-color:#00B4AB;
		}
		&:nth-child(5n){
			border-left-color:#207CBD;
		}
		&:nth-child(5n+1){
			border-left-color:#E15084;
		}
		&:first-child{
			border-left: solid 1px $borderColor;
		}
	}
}

input{
	border:solid 1px rgb(204, 204, 204);
	border-radius: 3px;
	padding:7px 8px;
	height: 34px;
	box-sizing:border-box;
	width: 440px;
	outline: none;
	background-color:rgb(250, 250, 250);
	display:block;
	&:focus{
		background:#fff;
		border-color:rgb(81, 167, 232);
		box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px 0px inset, rgba(81, 167, 232, 0.498039) 0px 0px 5px 0px;
	}
}
.form-input{
	margin-bottom:15px;
}
$eventHeight:40px;
.techkriti-events{
	position:relative;
	width:100%;
	height:$eventHeight;
	line-height:$eventHeight;
	// padding:0 10px;
	// background-color:#fbfbfb;
	border:solid 1px #f0f0f0;
	color:#333;
	.event{
		position: relative;
		margin:0 29px;
		height: $eventHeight;
		display: inline-block;
		border-bottom:solid 0 transparent;
		@include transition(all 200ms ease);
		&:last-child:after{
			background-color: transparent;
		}
		&:after{
			content: ' ';
			width: 1px;
			height:  $eventHeight - 20px;
			position:absolute;
			background-color: rgba(80, 80, 80, 0.44);	
			display: inline-block;
			right: -27px;
			top:10px;
		}
		&:hover{
			height: $eventHeight - 1px;
			// border-bottom:solid 3px darken(#4374E0,15%);
			// border-bottom:solid 3px #FF6666;
			color: #4374E0;
			border-bottom:solid 2px;
		}
	}
}