<div style="text-align:center">
	SkillScroll is best way to share your skills and get found by others.
	Its code can be found at <a href="http://github.com/asaharan/skillscroll" class="linky">Github</a>
	<br>
	It is developed by <a href="http://home.iitk.ac.in/~amitkum" class="linky">Amit Saharan</a>
	<br>
	<br>
	How it works
	<intro></intro>
	<br>
	<div>
		Find me on 
		<a href="users/amitkum/" class="linky">SkillScroll</a>
		<a class="linky" href="http://facebook.com/asaharan812">Facebook</a>
		<a class="linky" href="http://quora.com/Amit-Saharan">Quora</a>
	</div>
</div>