<div class="intro">
	<a href="#" style="color:#FF6666">
		<span class="fa-stack fa-lg iconic">
		  <i class="fa fa-graduation-cap fa-stack-1x"></i>
		</span>
		<div>You</div>
	</a>
	<span class="first"></span>
	<span class="second"></span>
	<span class="third"></span>
	<a href="#" style="color:#663399">
		<span class="fa-stack fa-lg iconic">
		  <i class="fa fa-cogs fa-stack-1x"></i>
		</span>
		<div>Share Skills</div>
	</a>
	<a href="#" style="color:#FFCC00">
		<span class="fa-stack fa-lg iconic">
		  <i class="fa fa-coffee fa-stack-1x"></i>
		</span>
		<div>Have Coffee</div>
	</a>
	<a href="#" style="color:#1876E8">
		<span class="fa-stack fa-lg iconic">
		  <i class="fa fa-connectdevelop fa-stack-1x"></i>
		</span>
		<div>Develop future</div>
	</a>
</div>

<div layout="row" layout-align="space-between start" class="extra">
	<div flex="45" class="material">
		<div class="head"><i class="fa fa-fire"></i> Hot Topics</div>
		<div class="inner" layout="row" layout-wrap>
			<a flex="50" ng-repeat="topic in hottopics | limitTo:10" ng-href="topics/{{topic.topic}}/{{topic.id}}">{{topic.topic}}</a>
		</div>
	</div>
	<div flex="45" class="material">
		<div class="head">
		<i class="fa fa-user-secret" style="line-height:38px;"></i>
		You may know</div>
		<div class="inner" layout="row" layout-wrap>
			<a flex="50" ng-repeat="person in mayknow" ng-href="users/{{person.username}}">{{person.name}}</a>
		</div>
	</div>
</div>