<div class="user">
	<div layout="column" class="info">
		<div layout="row" class="about-box">
			<a href="./users/{{username}}" class="avtar">
				{{name | limitTo:1}}
			</a>
			<div class="inform" layout="column">
				<a ng-href="./users/{{username}}" class="name">{{name}}</a>
				<div>{{info.about}}</div>
			</div>
		</div>
		<div layout="row" class="tile" ng-show="true">
			<div class="contact" flex="50">
				<div class="title">Contact Information</div>
				<a target="_blank" ng-if="info.facebook" class="fb-link" ng-href="{{info.facebook}}">Facebook</a>
				<div layout="row"><b flex="30" class="legend">Primary email</b> {{info.email}}</div>
				<div layout="row" ng-if="info.alternate_email"><b flex="30" class="legend">Secondary email</b> {{info.alternate_email}}</div>
				<div ng-if="info.phone" layout="row"><b flex="30" class="legend">Phone</b> {{info.phone}}</div>
				<div ng-if="info.address" layout="row"><b flex="30" class="legend">Address</b> {{info.address}}</div>
			</div>
		</div>
	</div>
	
	<div class="jist" flex="60" layout="column">
		<div class="list-item title">
			Topics {{name}} know about
		</div>
		<div class="list-item _level{{t.level}}" layout="column" ng-repeat="t in topics">
			<div layout="row">
				<a href="topics/{{t.topic}}/{{t.topic_id}}" class="topic">{{t.topic}} ({{getLevelTag(t.level)}})</a>
			</div>
			<div>{{t.description}}</div>
			<a class="topic" ng-hide="{{t.link==''}}" href="{{t.link}}">Project link</a>
		</div>
	</div>
</div>