<div class="intro">
	<a href="#" style="color:#FF6666">
		<span class="fa-stack fa-lg iconic">
		  <i class="fa fa-graduation-cap fa-stack-1x"></i>
		</span>
		<div>You</div>
	</a>
	<span class="first"></span>
	<span class="second"></span>
	<span class="third"></span>
	<a href="#" style="color:#663399">
		<span class="fa-stack fa-lg iconic">
		  <i class="fa fa-cogs fa-stack-1x"></i>
		</span>
		<div>Share Skills</div>
	</a>
	<a href="#" style="color:#FFCC00">
		<span class="fa-stack fa-lg iconic">
		  <i class="fa fa-coffee fa-stack-1x"></i>
		</span>
		<div>Have Coffee</div>
	</a>
	<a href="#" style="color:#1876E8">
		<span class="fa-stack fa-lg iconic">
		  <i class="fa fa-connectdevelop fa-stack-1x"></i>
		</span>
		<div>Develop</div>
	</a>
</div>
