<md-dialog aria-label="Sign Up">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Login</h2>
    </div>
  </md-toolbar>



  <md-dialog-content layout="column">
    
    If your mail is saharan@iitk.ac.in then write saharan.
    
    <input placeholder="Username" ng-model="user.username" class="form-input">
    <input placeholder="Password" type="password" ng-model="user.password" class="form-input">
    <md-button ng-click="login()" class="md-primary md-raised" style="margin:0" flex flex-md="100">
          Login
    </md-button>
  </md-dialog-content>



  <div class="md-actions" layout="row">
    <md-button ng-click="startRecovery()" class="md-primary">
     Forgot Password
    </md-button>
    <md-button ng-click="startSignup()" class="md-primary">
      Sign Up
    </md-button>
    <md-button ng-click="cancel()" class="md-primary">
      Cancel
    </md-button>
  </div>
  </form>
</md-dialog>