<md-dialog aria-label="Sign Up">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Sign Up</h2>
    </div>
  </md-toolbar>



  <md-dialog-content layout="column">
    <div>
    We will you sent you an email for confirmation.
    If your email is amit@iitk.ac.in then use amit
    </div>
    <input placeholder="Enter your username" ng-model="user.username" class="form-input">
    <input placeholder="Full Name" ng-model="user.name" class="form-input">
    <md-button ng-click="signup()" class="md-primary md-raised" style="margin:0" flex flex-md="100">
          Sign Up
    </md-button>
  </md-dialog-content>



  <div class="md-actions" layout="row">
    <md-button ng-click="startRecovery()" class="md-primary">
     Forgot Password
    </md-button>
    <md-button ng-click="startLogin()" class="md-primary">
      Login
    </md-button>
    <md-button ng-click="cancel()" class="md-primary">
      Cancel
    </md-button>
  </div>
  </form>
</md-dialog>